{% extends "blog/base.html" %}
{% load static %} 

{% block content %}

    <div class="col-sm-10">
        <h3 class="my-5">About Page</h3>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis sint aliquam architecto alias tempore maxime ipsam laudantium laborum molestiae consequuntur dolorum vero quam porro aperiam, eos at laboriosam cupiditate perferendis animi consequatur! Quaerat cum ipsam blanditiis eum tempora beatae molestias laborum necessitatibus, dolor et, a ab. Officiis obcaecati delectus laborum.</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam cum inventore facere illo, minima suscipit ipsam exercitationem id atque delectus ex. Quae doloremque alias nobis eius sequi eum animi impedit?</p>
{% endblock content %}    